@model ITAMapp.ViewModels.EditAssetViewModel
<link rel="stylesheet" type="text/css" href="~/css/add_style.css">
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.11.3.min.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.14.0/jquery.validate.min.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validation.unobtrusive/3.2.6/jquery.validate.unobtrusive.min.js"></script>
<span class="AddLabel">Edit @Model.urlCategory</span>

<br><br>


<div class="Entry">
    <form method="post" action="/@Model.urlCategory/update">
        @foreach (var field in Model.fields)
        {
            if (field.CollapsedBy == 0)
            {

                int fieldId = field.FieldId;

                @switch (field.FieldType)
                {
                    case 1:
                        //Dropdown Field
                        <p>
                            <label for="@field.FieldLabel">@field.FieldLabel: </label><select name="@field.FieldId" id="@field.FieldLabel">
                                @foreach (var listValue in Model.dropdownFields)
                                {
                                    @if (listValue.FieldId == fieldId)
                                    {
                                        if (listValue.ListDescription == field.FieldValue)
                                        {
                                            <option selected>@listValue.ListDescription</option>

                                        }
                                        else
                                        {
                                            <option>@listValue.ListDescription</option>

                                        }

                                    }

                                }
                            </select>
                        </p>
                        break;

                    case 2:
                        //Checkbox
                        <p>
                            <label for="@field.FieldLabel">@field.FieldLabel</label>
                            @if (field.FieldValue == "Yes")
                            {
                                @Html.CheckBox(field.FieldId.ToString(),true)

                            }
                            else
                            {
                                @Html.CheckBox(field.FieldId.ToString())

                            }
                            @*<input type="checkbox" name="@field.FieldLabel" id="@field.FieldLabel"/>*@

                            <fieldset>
                                @foreach (var subField in Model.fields)
                                {
                                    if (subField.CollapsedBy == fieldId)
                                    {

                                        int subfieldId = field.FieldId;
                                        @switch (subField.FieldType)
                                        {
                                            case 1:
                                                //Dropdown Field
                                                <span>
                                                    <label for="@subField.FieldLabel">@subField.FieldLabel: </label><select name="@subField.FieldId.ToString()" id="@subField.FieldLabel">
                                                        @foreach (var listValue in Model.dropdownFields)
                                                        {
                                                            @if (listValue.FieldId == subfieldId)
                                                            {
                                                                if (listValue.ListDescription == subField.FieldValue)
                                                                {
                                                                    <option selected>@listValue.ListDescription</option>

                                                                }
                                                                else
                                                                {
                                                                    <option>@listValue.ListDescription</option>

                                                                }


                                                            }

                                                        }
                                                    </select>
                                                </span>
                                                break;

                                            case 3:
                                                //Date
                                                <span>
                                                    <label for="@subField.FieldLabel">@subField.FieldLabel</label><input type="date" name="@subField.FieldId.ToString()" id="@subField.FieldLabel" value="@subField.FieldValue"/>
                                                </span>
                                                break;

                                            case 4:
                                                //Long text input
                                                <span>
                                                    <label for="@subField.FieldLabel">@subField.FieldLabel</label><textarea name="@subField.FieldId.ToString()" id="@subField.FieldLabel">@subField.FieldValue</textarea>
                                                </span>
                                                break;

                                            default:
                                                <span>
                                                    <label for="@subField.FieldLabel">@subField.FieldLabel</label><input name="@subField.FieldId.ToString()" id="@subField.FieldLabel" value="@subField.FieldValue"/>
                                                </span>
                                                break;
                                        }



                                    }

                                }


                            </fieldset>


                        </p>
                        break;

                    case 3:
                        //Date
                        <p>
                            <label for="@field.FieldLabel">@field.FieldLabel</label><input type="date" name="@field.FieldId" id="@field.FieldLabel" value="@field.FieldValue" />
                        </p>
                        break;

                    case 4:
                        //Long text input
                        <p>
                            <label for="@field.FieldLabel">@field.FieldLabel</label><textarea name="@field.FieldId" id="@field.FieldLabel">@field.FieldValue</textarea>

                        </p>
                        break;

                    case 5:
                        //Multiselect Field
                        <p>
                            @{ string[] values = null;
                                if (field.FieldValue != null){
                                    values = field.FieldValue.Split(',');
                                };
                                }
                            <label for="@field.FieldLabel">@field.FieldLabel: </label><select name="@field.FieldId" id="@field.FieldLabel" multiple>
                                @foreach (var listValue in Model.dropdownFields)
                                {
                                    @if (listValue.FieldId == fieldId)
                                    {
                                        if (values != null)
                                        {
                                            if (values.Contains(listValue.ListDescription))
                                            {
                                                <option selected>@listValue.ListDescription</option>
                                            }
                                            else
                                            {
                                                <option>@listValue.ListDescription</option>

                                            }

                                        }


                                    }

                                }
                            </select>
                        </p>
                        break;

                    default:
                        <p>
                            <label for="@field.FieldLabel">@field.FieldLabel</label><input name="@field.FieldId" id="@field.FieldLabel" value="@field.FieldValue"/>
                        </p>
                        break;
                }

            }

        }
        <input type="hidden" name="identifier" value="@Model.identifier" />
        <input type="submit" onclick="return confirm('Are you sure you want to save changes?')"/>
        <input type="reset" value="Clear" onclick="return confirm('Are you sure you want to clear?')"/>
        

    </form>



</div>